@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    outline: none;
}

:root {
    --color-text: #F1F1F1;
    --color-subtitle: #5a4f4f;
    --color-highlight: rgba(226, 121, 45, 1);
    --color-button: #3636e4;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(./asstes/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--color-text);
    height: 100vh;
}

.container {
    max-width: 1440px;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    width: 40px;
    height: 40px;
}

header ul {
    display: flex;
    gap: 30px;
    list-style: none;
    color: var(--color-text);
}

header ul li {
    font-size: 16px;
    color: var(--color-text);
}

header ul li a {
    text-decoration: none;
    color: var(--color-text);
    transition: 0.5s;
}

header ul li a:hover {
    color: var(--color-highlight);
}

button {
    border: none;
    background-color: var(--color-button);
    color: var(--color-text);
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
}

button a {
    color: var(--color-text);
    font-weight: 600;
}

main {
    padding-top: 200px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.top-main {

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.top-main h3 {
    padding-top: 30px;
    color: var(--color-text);
    font-weight: 400;
    font-size: 15px;
}

.title h3 {
    display: flex;
    margin: 0 auto;
    max-width: 50%;
}

.bottom-main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;

}

.search {
    background-color: var(--color-text);
    opacity: 0.9;
    border-radius: 20px;
    width: 80%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

label {
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-subtitle);
}

#lugares,
#hotel,
#range {
    display: flex;
    flex-direction: column;
}

select {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
}

.button-search {
    padding-left: 10px;
}

#button-search {
    padding: 15px;
    opacity: 0.7;
}

button:hover {
    cursor: pointer;
}

button img {
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
    }
}

header img {
    display: none;
}

header .menu {
    padding-bottom: 20px;
}

main {
    padding-top: 100px;
}

body section {
    width: 100%;
    height: 100vh;
    display: flex-direction center;
    
}

section {
    align-items: center;
    width: 80%;
    max-width: 600px;
    flex-direction: column;
}

section details summary {
    background-color: #3636e4;
    padding: 2%;
    border-bottom: 2px solid #5a4f4f;
    
}

.sobre  {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
   }